# Build / object files
build/
*.o
*.d
*.obj
*.out

# Executable
WebServ

# $(bear -- make re) files
compile_commands.json
.cache/

# Logs
*.log

# Temporary
*~
*.tmp
*.swp

# Ignore tags
tags

# request generated
generated_requests/
